.admin-bar {
    .page-wrapper {
        min-height: calc(100vh - 32px);

        @media screen and (max-width: 768px) {
            min-height: calc(100vh - 46px);
        }
    }
}

.page-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";

    .site-header {
        grid-area: header;
        position: fixed;
        width: 100vw;
        z-index: 11;
    }

    .site-main {
        .main-nav {
            grid-area: nav;
            .main-nav-ul {
                @media screen and (min-width: 768px) {                    
                    position: fixed;
                    z-index: 22;
                    transform: translateY(-50%);
                    top: calc(100vh - 50%);
                }
            }
        }

        .main-section {
            margin-top: 110px;
            margin-bottom: 110px;
            grid-area: section;
            overflow: hidden;
        }
        
        grid-area: content;
        display: grid;
        
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "nav"
        "section";

        @media screen and (min-width: 768px) {
            grid-template-columns: 260px 1fr;
            grid-template-areas: "nav section";
        }    
    }

    .site-footer {
        grid-area: footer;
        position: fixed;
        z-index: 11;
        bottom: 0;
        width: 100vw;
    }
}