.the-title {
    font-family: $font-header;
    font-size: 7rem;
    background-image: url('img/ornamento-2.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 50%;
    padding-bottom: 2.2rem;
    text-align: center;
}