.main-section {

    padding-bottom: 5rem;
    background-image: url('img/ornamento-3.svg');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center bottom;

    ul {
        list-style-image: url('img/deco-left.png');
        margin: 1em 0;
        padding-left: 2em;
        li {
            margin: 1rem 0;
        }
    }

    img {
        width: 100%;
        max-width: 1000px;
        height: auto;
    }

    a {
        color: darken(theme-color('secondary'), 25);

        &:hover {
            color: theme-color('secondary');
        }
    }
}