.site-header {
    background-color: theme-color('light');
    padding: 1rem 0;

    .nav-bar {

        display: flex;
        justify-content: space-between;

        .main-logo {
            display: flex;
            justify-content: center;
        }

        .burger-open {
            font-size: 4rem;
            color: theme-color('primary');
            display: block;
            margin-right: 2rem;
            cursor: pointer;

            @media screen and (min-width: 768px) {
                display: none;
            }
        }

        .social-nav {
            display: none;

            @media screen and (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .menu {
                    display: flex;
                    justify-content: space-around;

                    li {
                        margin-right: 2rem;
                        position: relative;

                        &:last-of-type {
                            margin-right: 0;
                        }

                        a {
                            font-size: 1.6rem;
                            position: relative;
                            z-index: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            line-height: 0;
                            font-size: 2rem;
                            color: theme-color('primary');
                            background-color: white;
                            border: solid 2px;
                            border-radius: 50%;
                            width: 44px;
                            height: 44px;

                            &:hover {
                                color: theme-color('dark');
                            }
                        }

                        .sub-menu {
                            display: none;
                            transform: scaleX(0);
                            transition: display transform .3s ease-out;
                            position: absolute;
                            top: 1rem;
                            left: 0;
                        }

                        &:hover .sub-menu {
                            display: block;
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}

#breadcrumbs {
    font-size: 1.2rem !important;
}